# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
filepath = "../output_data/cities_green.csv"
df = pd.read_csv(filepath)
df.head()

,City,Country,Latitude,Longitude,Temp,Wind,Cloudiness,Pressure,Humidity,Date
0,busselton,AU,-33.6500,115.3333,61.05,8.14,89.0,1023.0,69.0,2021-08-13 04:27:07
1,cap malheureux,MU,-19.9842,57.6142,74.46,10.00,9.0,1022.0,78.0,2021-08-13 04:27:08
2,sentyabrskiy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,znamenskoye,RU,57.1281,73.8282,58.41,10.20,76.0,1021.0,59.0,2021-08-13 04:27:11
4,bodaybo,RU,57.8506,114.1933,80.08,2.46,55.0,1009.0,54.0,2021-08-13 04:27:12

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612 entries, 0 to 611
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        612 non-null    object
 1   Country     552 non-null    object
 2   Latitude    559 non-null    float64
 3   Longitude   559 non-null    float64
 4   Temp        559 non-null    float64
 5   Wind        559 non-null    float64
 6   Cloudiness  559 non-null    float64
 7   Pressure    559 non-null    float64
 8   Humidity    559 non-null    float64
 9   Date        559 non-null    object
dtypes: float64(7), object(3)
memory usage: 47.9+ KB

In [4]:
df2 = df.dropna(how='any')
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 552 entries, 0 to 611
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        552 non-null    object
 1   Country     552 non-null    object
 2   Latitude    552 non-null    float64
 3   Longitude   552 non-null    float64
 4   Temp        552 non-null    float64
 5   Wind        552 non-null    float64
 6   Cloudiness  552 non-null    float64
 7   Pressure    552 non-null    float64
 8   Humidity    552 non-null    float64
 9   Date        552 non-null    object
dtypes: float64(7), object(3)
memory usage: 47.4+ KB

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [6]:
# Customize the size of the figure
figure_layout = {
    'width': '800px',
    'height': '400px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

fig = gmaps.figure(map_type='HYBRID', layout=figure_layout)
heatmap_layer = gmaps.heatmap_layer(
    df2[['Latitude', 'Longitude']], weights=df2['Humidity'],
    max_intensity=500, point_radius=10, dissipating=False
)                                    
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='400px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
df2.columns

Index(['City', 'Country', 'Latitude', 'Longitude', 'Temp', 'Wind',
       'Cloudiness', 'Pressure', 'Humidity', 'Date'],
      dtype='object')

In [8]:
mask1 = (df2['Temp'] < 80) & (df['Temp'] > 70)
mask2 = df2["Wind"] < 10
mask3 = df2.Cloudiness == 0

df2_sub = df2.loc[mask1 & mask2 & mask3].reset_index(drop=True)
df2_sub = df2_sub.dropna(how="any")
df2_sub

,City,Country,Latitude,Longitude,Temp,Wind,Cloudiness,Pressure,Humidity,Date
0,magan,ES,39.9683,-3.9310,79.83,2.89,0.0,1018.0,24.0,2021-08-13 04:27:31
1,carnarvon,AU,-24.8667,113.6333,75.27,8.05,0.0,1019.0,24.0,2021-08-13 04:28:44
2,bojnurd,IR,37.4747,57.3290,75.15,0.00,0.0,1016.0,41.0,2021-08-13 04:29:15
3,caceres,ES,39.5220,-6.3748,70.81,2.15,0.0,1018.0,34.0,2021-08-13 04:32:28
4,san quintin,MX,30.4833,-115.9500,72.61,5.37,0.0,1015.0,77.0,2021-08-13 04:33:07
5,trapani,IT,37.8333,12.6667,74.43,1.14,0.0,1018.0,83.0,2021-08-13 04:34:31
6,castenaso,IT,44.5089,11.4698,74.71,2.30,0.0,1019.0,70.0,2021-08-13 04:34:39
7,pachino,IT,36.7186,15.0907,75.24,4.72,0.0,1018.0,62.0,2021-08-13 04:34:47
8,baraki barak,AF,33.9675,68.9486,79.86,2.46,0.0,1006.0,20.0,2021-08-13 04:35:04
9,asyut,EG,27.1810,31.1837,78.98,3.60,0.0,1010.0,28.0,2021-08-13 04:36:12
10,sainte-marie,RE,-20.8968,55.5496,72.88,5.75,0.0,1022.0,81.0,2021-08-13 04:38:02
11,urumqi,CN,43.8010,87.6005,76.15,2.24,0.0,1010.0,41.0,2021-08-13 04:38:23
12,abnub,EG,27.2696,31.1511,79.02,3.04,0.0,1010.0,28.0,2021-08-13 04:39:26
13,turayf,SA,31.6725,38.6637,73.65,3.44,0.0,1013.0,60.0,2021-08-13 04:40:04
14,belyy yar,RU,53.6039,91.3903,73.29,4.47,0.0,1007.0,64.0,2021-08-13 04:40:34

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
test = df2_sub.loc[:, ["Latitude", "Longitude"]].values[0]
test

array([39.9683, -3.931 ])

In [10]:
# 3. Find the name and address of a bike store in Seattle, Washington.
#    Hint: See https://developers.google.com/places/web-service/supported_types

# geocoordinates
target_coordinates = f"{test[0]}, {test[1]}"
target_search = "hotel"
target_radius = 5000
target_type = "lodging"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)

response.url

'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=39.9683%2C+-3.931&keyword=hotel&radius=5000&type=lodging&key=AIzaSyB21jFW9SQU-_UaPZZmcRapVurXklT7j7k'

In [11]:
# convert response to json
places_data = response.json()

# Print the json (pretty printed)
print(json.dumps(places_data, indent=4, sort_keys=True))

{
    "html_attributions": [],
    "results": [
        {
            "business_status": "OPERATIONAL",
            "geometry": {
                "location": {
                    "lat": 39.9458377,
                    "lng": -3.9925307
                },
                "viewport": {
                    "northeast": {
                        "lat": 39.94718752989272,
                        "lng": -3.991180870107278
                    },
                    "southwest": {
                        "lat": 39.94448787010727,
                        "lng": -3.993880529892722
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png",
            "icon_background_color": "#909CE1",
            "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet",
            "name": "HOSTAL 82",
            "opening_hours": {
                "open_now": true
            },
            "photos": [
                {
                    "height": 1080,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/115809628627889443228\">A Google User</a>"
                    ],
                    "photo_reference": "Aap_uEChJ8jgp8yj_BIB_72BPbGhkmBnQcIs4YvtI6Amo7RbQ6lOiAGP3jXXKa9vPaFXBese0RvNpQ51Pv8-yuweJCDIi28n76vxZyadyUXVoWoXsytbvtvidm-7woR028wnst2ywkwTvWOP48ZWG4qKR-i-BTC30azu6I8GjwXpk7zYKcFA",
                    "width": 1920
                }
            ],
            "place_id": "ChIJc8mG_HQKag0RutbDHSj7TrA",
            "plus_code": {
                "compound_code": "W2W4+8X Ol\u00edas del Rey, Spain",
                "global_code": "8CFRW2W4+8X"
            },
            "rating": 4.2,
            "reference": "ChIJc8mG_HQKag0RutbDHSj7TrA",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 350,
            "vicinity": "A-42 SALIDA 59 SENTIDO MADRID, Via de Servicio"
        },
        {
            "business_status": "OPERATIONAL",
            "geometry": {
                "location": {
                    "lat": 39.9363378,
                    "lng": -3.920210299999999
                },
                "viewport": {
                    "northeast": {
                        "lat": 39.93771682989272,
                        "lng": -3.918827220107278
                    },
                    "southwest": {
                        "lat": 39.93501717010728,
                        "lng": -3.921526879892721
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png",
            "icon_background_color": "#909CE1",
            "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet",
            "name": "Hotel Pattaya",
            "photos": [
                {
                    "height": 1944,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/109416803716730747596\">Cl\u00e1udia Sampaio</a>"
                    ],
                    "photo_reference": "Aap_uEDBHVeqK1A-e40aNoqmp3nbzIwYB6vHDF6CVjB0ZGsZwwOCq7iSZCgfQxfR_mLGw8rwmUNdhNuiI2BJqf0ST9-kq6gYb9SHNd4i8Wnf-JbKUUKZqtBhoxayjPVO6sxdy0ZKMW0KosiNzuoxdySkSlay-Kq_4FJyknAnPJyPEioxQtH9",
                    "width": 2592
                }
            ],
            "place_id": "ChIJKWc2aMfiQQ0RT2byGqrDm9A",
            "plus_code": {
                "compound_code": "W3PH+GW Mocej\u00f3n, Spain",
                "global_code": "8CFRW3PH+GW"
            },
            "rating": 3.8,
            "reference": "ChIJKWc2aMfiQQ0RT2byGqrDm9A",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 264,
            "vicinity": "C. Toledo, 19, Mocej\u00f3n"
        }
    ],
    "status": "OK"
}

In [12]:
places_data["results"][0]["name"]

'HOSTAL 82'

In [13]:
places_data["results"][0]["vicinity"]

'A-42 SALIDA 59 SENTIDO MADRID, Via de Servicio'

In [14]:
places_data["results"][0]["plus_code"]["compound_code"]

'W2W4+8X Olías del Rey, Spain'

In [15]:
places_data["results"][0]["rating"]

4.2

In [17]:
names = []
addresses = []
location_codes = []
ratings = []

for  _, row in df2_sub.iterrows():
    # geocoordinates
    target_coordinates = f"{row['Latitude']}, {row['Longitude']}"
    target_search = "hotel"
    target_radius = 5000
    target_type = "lodging"

    # set up a parameters dictionary
    params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
    }

    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # run a request using our params dictionary
    response = requests.get(base_url, params=params)

    print(response.url)
    places_data = response.json()
    
    try:
        name = places_data["results"][0]["name"]
        address = places_data["results"][0]["vicinity"]
        location_code = places_data["results"][0]["plus_code"]["compound_code"]
        rating = places_data["results"][0]["rating"]
        
        names.append(name)
        addresses.append(address)
        location_codes.append(location_code)
        ratings.append(rating)
    except:
        names.append("")
        addresses.append("")
        location_codes.append("")
        ratings.append(np.nan)
        
    time.sleep(1)

df2_sub["hotel"] = names
df2_sub["hotel_address"] = addresses
df2_sub["hotel_location_code"] = location_codes
df2_sub["rating"] = ratings
df2_sub["hotel_full_address"] = df2_sub["hotel_address"] + " " + df2_sub["hotel_location_code"]

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=39.9683%2C+-3.931&keyword=hotel&radius=5000&type=lodging&key=AIzaSyB21jFW9SQU-_UaPZZmcRapVurXklT7j7k
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-24.8667%2C+113.6333&keyword=hotel&radius=5000&type=lodging&key=AIzaSyB21jFW9SQU-_UaPZZmcRapVurXklT7j7k
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=37.4747%2C+57.329&keyword=hotel&radius=5000&type=lodging&key=AIzaSyB21jFW9SQU-_UaPZZmcRapVurXklT7j7k
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=39.522%2C+-6.3748&keyword=hotel&radius=5000&type=lodging&key=AIzaSyB21jFW9SQU-_UaPZZmcRapVurXklT7j7k
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=30.4833%2C+-115.95&keyword=hotel&radius=5000&type=lodging&key=AIzaSyB21jFW9SQU-_UaPZZmcRapVurXklT7j7k
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=37.8333%2C+12.6667&keyword=hotel&radius=5000&type=lodging&key=AIzaSyB21jFW9SQU-_UaPZZmcRapVurXklT7j7k
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=44.5089%2C+11.4698&keyword=hotel&radius=5000&type=lodging&key=AIzaSyB21jFW9SQU-_UaPZZmcRapVurXklT7j7k
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=36.7186%2C+15.0907&keyword=hotel&radius=5000&type=lodging&key=AIzaSyB21jFW9SQU-_UaPZZmcRapVurXklT7j7k
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=33.9675%2C+68.9486&keyword=hotel&radius=5000&type=lodging&key=AIzaSyB21jFW9SQU-_UaPZZmcRapVurXklT7j7k
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=27.181%2C+31.1837&keyword=hotel&radius=5000&type=lodging&key=AIzaSyB21jFW9SQU-_UaPZZmcRapVurXklT7j7k
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-20.8968%2C+55.5496&keyword=hotel&radius=5000&type=lodging&key=AIzaSyB21jFW9SQU-_UaPZZmcRapVurXklT7j7k
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=43.801%2C+87.6005&keyword=hotel&radius=5000&type=lodging&key=AIzaSyB21jFW9SQU-_UaPZZmcRapVurXklT7j7k
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=27.2696%2C+31.1511&keyword=hotel&radius=5000&type=lodging&key=AIzaSyB21jFW9SQU-_UaPZZmcRapVurXklT7j7k
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=31.6725%2C+38.6637&keyword=hotel&radius=5000&type=lodging&key=AIzaSyB21jFW9SQU-_UaPZZmcRapVurXklT7j7k
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=53.6039%2C+91.3903&keyword=hotel&radius=5000&type=lodging&key=AIzaSyB21jFW9SQU-_UaPZZmcRapVurXklT7j7k

In [21]:
hotel_df = df2_sub.dropna(how="any")
hotel_df

,City,Country,Latitude,Longitude,Temp,Wind,Cloudiness,Pressure,Humidity,Date,hotel,hotel_address,hotel_location_code,rating,hotel_full_address
0,magan,ES,39.9683,-3.9310,79.83,2.89,0.0,1018.0,24.0,2021-08-13 04:27:31,HOSTAL 82,"A-42 SALIDA 59 SENTIDO MADRID, Via de Servicio","W2W4+8X Olías del Rey, Spain",4.2,"A-42 SALIDA 59 SENTIDO MADRID, Via de Servicio..."
1,carnarvon,AU,-24.8667,113.6333,75.27,8.05,0.0,1019.0,24.0,2021-08-13 04:28:44,Carnarvon Motel,"34 David Brand Dr, Brockman","4M93+P8 Brockman, Western Australia, Australia",4.3,"34 David Brand Dr, Brockman 4M93+P8 Brockman, ..."
2,bojnurd,IR,37.4747,57.3290,75.15,0.00,0.0,1016.0,41.0,2021-08-13 04:29:15,اقامتگاه مهدی,"Bojnurd, Marefat","F897+FM Bojnurd, North Khorasan Province, Iran",5.0,"Bojnurd, Marefat F897+FM Bojnurd, North Khoras..."
3,caceres,ES,39.5220,-6.3748,70.81,2.15,0.0,1018.0,34.0,2021-08-13 04:32:28,Hotel Soho Boutique Casa Don Fernando,"Pl. Mayor, 30, Cáceres","FJGH+38 Cáceres‎, Spain",4.4,"Pl. Mayor, 30, Cáceres FJGH+38 Cáceres‎, Spain"
4,san quintin,MX,30.4833,-115.9500,72.61,5.37,0.0,1015.0,77.0,2021-08-13 04:33:07,Don Eddie's Landing,Unnamed Road,"F2PC+VC Molino Viejo, Baja California, Mexico",4.4,"Unnamed Road F2PC+VC Molino Viejo, Baja Califo..."
7,pachino,IT,36.7186,15.0907,75.24,4.72,0.0,1018.0,62.0,2021-08-13 04:34:47,Hotel Villa Giulia,"Contrada S. Lorenzo, Noto","Q33J+QX Noto, Province of Syracuse, Italy",4.5,"Contrada S. Lorenzo, Noto Q33J+QX Noto, Provin..."
9,asyut,EG,27.1810,31.1837,78.98,3.60,0.0,1010.0,28.0,2021-08-13 04:36:12,Assiut hotels Armed Forces,الناصرية، مدينة الفتح،,"652V+RM Al Fath, Egypt",3.9,"الناصرية، مدينة الفتح، 652V+RM Al Fath, Egypt"
10,sainte-marie,RE,-20.8968,55.5496,72.88,5.75,0.0,1022.0,81.0,2021-08-13 04:38:02,Villa Hélèna B&B,"25 Rue des Remparts, Sainte-Marie","3GFC+XV Sainte-Marie, Réunion",4.4,"25 Rue des Remparts, Sainte-Marie 3GFC+XV Sain..."
11,urumqi,CN,43.8010,87.6005,76.15,2.24,0.0,1010.0,41.0,2021-08-13 04:38:23,Sheraton Urumqi Hotel,"669 Northern Youhao Road, Ürümqi","RHCQ+GQ Saybag District, Ürümqi, Xinjiang, China",3.9,"669 Northern Youhao Road, Ürümqi RHCQ+GQ Sayba..."

In [ ]:
# # NOTE: Do not change any of the code in this cell

# # Using the template add the hotel marks to the heatmap
# info_box_template = """
# <dl>
# <dt>Name</dt><dd>{Hotel Name}</dd>
# <dt>City</dt><dd>{City}</dd>
# <dt>Country</dt><dd>{Country}</dd>
# </dl>
# """
# # Store the DataFrame Row
# # NOTE: be sure to update with your DataFrame name
# hotel_info = [info_box_template.format(**row) for index, row in df_sub.iterrows()]
# locations = hotel_df[["Lat", "Lng"]]

In [22]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{hotel}</dd>
<dt>Name</dt><dd>{rating}</dd>
<dt>Name</dt><dd>{hotel_full_address}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [23]:
# Customize the size of the figure
figure_layout = {
    'width': '800px',
    'height': '400px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

fig = gmaps.figure(map_type='HYBRID', layout=figure_layout)
heatmap_layer = gmaps.heatmap_layer(
    df2[['Latitude', 'Longitude']], weights=df2['Humidity'],
    max_intensity=500, point_radius=10, dissipating=False
)                                    
fig.add_layer(heatmap_layer)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(border='1px solid black', height='400px', margin='0 auto 0 auto', padding='1px', wi…